/* flexbox container and flexbox items
main axis / main axis start / main axis end
cross axis / cross axis start / cross axis end
display: flex
flex direction row / column
begining of main axis justify-content: flex-start
justify-content: flex-end
justify-content: center
justify-content: space-between
justify-content: space-around
flex-wrap: nowrap
flex-wrap: wrap
covered on cross axis align-items: stretch
align-items: flex-start
align-items: flex-end
align-items: center
align-items: baseline
align-content: stretch
align-content: flex-start
align-content: flex-end
align-content: center
align-content: space-between
align-content: space-around
order
align-self: flex-start
align-self: flex-end
align-self: center
align-self: baseline
align-self: stretch
flex-grow
flex-shrink
flex-basis
flex grow-shrink-basis
*/
