#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
} */

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}
