/* .pokemon-details {
  margin-top: 20px;
}

.pokemon-details table {
  width: 100%;
  border-collapse: collapse;
}

.pokemon-details table,
.pokemon-details th,
.pokemon-details td {
  border: 1px solid #ccc;
}

.pokemon-details th,
.pokemon-details td {
  padding: 10px;
  text-align: left;
}

.pokemon-details img {
  display: block;
  margin: 20px auto;
} */
