.img-logo {
  height: 50px;
}

.app-wrapper {
  min-height: 100%;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.img-h3 {
  height: 70px;
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.15);
}
.tabname {
  color: rgb(7, 86, 196);
  font-weight: 700;
}
.progress-div {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.progress {
  margin: 0 20px;
  padding: 0 10px;
  flex: 0.98;
  height: 50px;
}

.progress-span {
  opacity: 50%;
}
.Transmission {
  border-bottom: 3px solid rgb(35, 64, 193);
  margin: 0 20px;
}
.tran-text {
  color: rgb(35, 64, 193);
}

.btn-next:hover {
  border: 1px solid rgb(6, 150, 240);
  background-color: white;
  color: rgb(6, 150, 240);
}
.accordion {
  margin: 5px 10px;
}

.accordion-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  margin: 5px 0px;
  border-radius: 10px;
}

.accordion-title {
  background: #f7f7f7;
  color: rgb(35, 64, 193);
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
}
.accordion-title:hover {
  background-color: rgba(7, 86, 196, 0.107);
}
.accordion-header {
  color: rgb(35, 64, 193);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  margin-right: 10px;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.arrow.down {
  transform: rotate(180deg);
}

.title {
  flex-grow: 1;
}

.accordion-content {
  padding: 10px;
  background: #fff;
  transition: ease-in-outw;
}

.btn-previous {
  border: 1px solid rgb(6, 150, 240);
  border-radius: 5px;
  background-color: white;
  color: rgb(6, 150, 240);
  width: 170px;
  height: 35px;
  left: 10px;
}

.btn-previous:hover {
  border: 1px solid rgb(6, 150, 240);
  background-color: rgb(6, 150, 240);
  color: white;
}

.btn-next {
  border: 1px solid rgb(6, 150, 240);
  border-radius: 5px;
  background-color: rgb(23, 119, 255);
  color: white;
  width: 170px;
  height: 35px;
  right: 10px;
  position: absolute;
}

footer {
  position: absolute;
  width: 100%;
}

.btn-div {
  margin: 10px;
  bottom: 0;
}
