input {
  display: none;
}
label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background-color: #6aab95;
  border-radius: 3px;
  color: #fff;
}

label:hover {
  background-color: #4e8774;
}
.content {
  background-color: #e2e5f6;
  padding: 10px 25px;
  border: 1px solid #a7a7a7;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}
