* {
  padding: 0;
  margin: 0;
}
main {
  background-color: rgb(242, 242, 242);
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

nav {
  margin: 10px auto;
}

.dashboard-ul {
  list-style: none;
  margin: auto 50px;
  padding: 10px 25px;
  justify-content: space-between;
  display: flex;
  background-color: white;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    /* flex-direction: column;
    align-content: center; */
    column-gap: 3px;
  }
}
img {
  width: 100%;
}

.dashboard-image {
  margin: 30px 40px;
}
.header-divider {
  border-bottom: 1px solid rgba(128, 128, 128, 0.495);
  width: 96%;
  margin: 0px auto;
}
.phase-summary {
  display: flex;
  gap: 10px;
  margin: 20px 30px;
}
.summary-item {
  display: flex;
  justify-content: space-between;
}

.first-column {
  width: 15%;
}
.second-column {
  width: 15%;
}

.item-divider {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.past-text {
  color: #62dd8c;
  font-weight: 600;
  font-size: 16px;
}

.same-color {
  color: #1a548a;
  font-size: 16px;
  font-weight: 600;
}
.same-text {
  font-size: 16px;
  font-weight: 400;
}
.two-column {
  display: flex;
}

.activity {
  display: none;
}

.phases {
  flex: 50%;
}
.phase-details {
  flex: 50%;
}
